@page "/products"
@using Microsoft.FluentUI.AspNetCore.Components

<h3>Products</h3>

<FluentNavLink Href="product"
               Icon="@(new Icons.Regular.Size20.Production())" 
               IconColor="Color.Accent">Crear producto</FluentNavLink>

@code {

}
